.chat {
    position: relative;
    width: 750px;
    padding: 0 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &__messages {
        width: 100%;
        height: 480px;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;

        &::-webkit-scrollbar {
            width: 0;
        }
        
        .message {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 13px;

            &:last-child {
                margin-bottom: 130px;
            }

            &_text {
                max-width: 500px;
                padding: 10px 20px;
                background-color: #ccc;
                border-radius: 5px;
                box-sizing: border-box;
            }

            &_autor {
                font-size: 13px;
                color: #999;
                margin-top: 10px;
            }
        }
        
        .myMessage {
            align-items: flex-end;

            .message_text {
                background-color: #333;
                color: #fff;
            }
        }
    }

    &__send {
        width: calc(100% - 40px);
        position: absolute;
        bottom: 0;
        background-color: #fff;
        box-sizing: border-box;

        &__form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-top: 1px solid #ccc;
            padding: 20px 0;

            &_text {
                width: 100%;
                max-height: 150px;
                resize: none;
                overflow-y: auto;
                overflow-x: hidden;
                border: 1px solid #666;
                border-radius: 5px;
                box-sizing: border-box;
                padding: 8px;
                margin-bottom: 10px;
            }

            &_btns {
                width: auto;
                color: #fff; 
                font-size: 14px;
                padding: 8px 16px;
                background-color: #000;
                border: none;
                border-radius: 5px;
                outline: none;
                cursor: pointer;

                &:hover {
                    background-color: lighten(#000, 10%);
                }
    
                &:active {
                    background-color: lighten(#000, 20%);
                }
            }
        }
    }
}