.community {
    width: 1000px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px #666;
    display: flex;

    .sidebar {
        width: 250px;
        padding: 0 20px;
        background-color: #eee;
        border-right: 1px solid #ccc;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        box-sizing: border-box;

        &__title {
            font-size: 16px;
            
            &:first-child {
                margin-top: 50px;
                text-align: center;
                border-bottom: 1px solid #ccc;
                margin-bottom: 10px;
                padding-bottom: 10px;
                
                .roomId {
                    color: red;
                }
            }
        }

        &__users {
            margin-top: 10px;
            padding: 10px 10px;
            max-height: 400px;
            overflow-y: auto;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 0;
            }

            &_user {
                list-style-type: none;
                background-color: #fff;
                box-shadow: 0 0 5px 1px #ccc;
                border-radius: 5px;
                margin-bottom: 5px;
                padding: 8px 20px;
            }
        }
    }
}