.signIn {
    width: 300px;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px 1px #666;

    &__title {
        margin-bottom: 20px;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;

        &_inpt {
            margin-bottom: 10px;
            padding: 8px;
        }
    
        &_btns {
            margin-top: 10px;
            padding: 8px;
            font-size: 14px;
            color: #fff;
            background-color: #000;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: lighten(#000, 10%);
            }

            &:focus {
                outline: none;
                background-color: lighten(#000, 20%);
            }
        }
    }
}